.tile {
	background-color: #abcde1;
	height: 50px;
	width: 50px;
	float: left;
	
	border-style: solid;
    border-color: #ffffff;
}

.friend{
	
	height: 50px;
	width: 50px;
	float: left;
	
	border-style: solid;
    border-color: #ffffff;
	background-color: #66FF66;
}

.foe{
	
	height: 50px;
	width: 50px;
	float: left;
	
	border-style: solid;
    border-color: #ffffff;
	background-color: #FF9999;
}

.tile:hover{
	background-color: #abbbb1;
}

#userbar{
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	
	padding: 10px 30px;
	width: auto;
	
	background-color:#ffFFFF;
	
	font-family: Arial;
	font-size: 14px;
}